.image {
    width: 64px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 243px 0 0;
}

.infoBlock {
    padding: 0 5px;
    opacity: 0;
}
