.flower__image {
    width: 64px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 243px 0 0;
}

.flower__infoBlock {
    padding: 0 5px;
    opacity: 0;
}

.flower__item {
    width: 600px;
    height: 246px;
    background-color: rgba(240, 255, 255, 0.13);
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    top:'0px';
    left: -100%;
}

.flowerItem-0 {
    left: 0;
    opacity: 1;
    transform: translate(0%, 0%);
}

.flowerItem-1 {
    left: 0;
    opacity: 1;
    transform: translate(50%, 100%);
}

.flowerItem-2 {
    left: 0;
    opacity: 1;
    transform: translate(0%, 200%);
}

.flowerItem-1 .flower__infoBlock {
    opacity: 1;
}